@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Cabin", sans-serif;
}
@layer {
	.text-gradient,
	.footer-link:hover {
		background: linear-gradient(90.54deg, #139ebc 36.69%, #aa1ecd 91.01%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
	}
}
